* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
#sc-shop,#sc-shopimg{
	text-align: center;
}
.c {
  width: 1000px;
  margin: auto;
}
.sc-content {
  width: 1000px;
  margin: auto;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.sc-l{
	float: left;
}
.sc-top,
.sc-center,
.sc-footer,
.sc-love,
.sc-top>ul,
.sc-center>ul,
.sc-footer>ul,
.sc-love>ul{
	width: 1000px;
} 
.sc-top,
.sc-center,
.sc-footer{
	background: #FAFAFA;
}
.sc-center>ul{
	margin-top: 15px;
	background: white;
}
.sc-top>ul>li,
.sc-center>ul>li,
.sc-footer>ul>li,
.sc-love>ul>li{
	list-style:none;
	float: left;
}
.sc-top>ul>li,
.sc-center>ul>li,
.sc-footer>ul>li{
	width: 100px;
	margin: 10px 5px;
	height: 30px;
	line-height: 30px;
}
#sc-shop,#sc-shopimg,#sc-fshop{
	width: 180px;
}
#sc-shopimg{
	height: 180px;
}
#sc-shopimg>img{
	width: 150px;
	height: 150px;
}
.sc-li-num>input{
	width: 35px;
}
.sc-center>ul>li>button{
	background: #EEEEEE;
	padding: 3px 5px;
	border: none;
	outline: none;
	color: red;
	border-radius:10%;
}
.sc-center>ul>li>button:hover,.sc-footer>ul>li>button:hover{
	cursor: pointer;
}
.sc-footer>ul>li>button{
	background: #CDBC7A;
	padding: 3px 5px;
	border: none;
	outline: none;
	color: white;
	border-radius:10%;
}
.sc-love > ul > li {
  list-style: none;
  width: 220px;
  height: 345px;
  padding: 15px;
  text-align: center;
  float: left;
}
.sc-love> ul > li:hover {
  transition: all 0.8s;
  background: white;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #eeeeee, -1px -1px 1px 1px #eeeeee;
}
.sc-love> ul > li > img {
  width: 220px;
  height: 220px;
}
.sc-love > ul > li > p {
  margin: 10px;
  font-size: 12px;
}
.sc-love>h3{
	text-align: center;
	margin: 20px;
	color: #CDBC7A;
	font-size: 20px;
}
.sc-love>ul>li{
	width: 250px;
}