* {
  margin: 0;
  padding: 0;
}
@media (min-width: 880px) {
  #thead {
    width: 100%;
    height: 410px;
    background: url("../images/women-0402-pc.jpg");
    background-size: 100% 100%;
    display: inline-block;
  }
  #thead img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 880px) {
  #thead {
    width: 100%;
    height: 410px;
    background: url("../images/women-0402-pad.jpg");
    background-size: 100% 100%;
    display: inline-block;
  }
  #thead img {
    width: 100%;
    height: 100%;
  }
}
#direction {
  background: #b1ac92;
}
#direction p {
  text-indent: 3em;
  color: #343434;
  padding: 5px;
}
#direction p a {
  text-decoration: none;
  display: inline-block;
  color: #343434;
}
.tit {
  text-indent: 3em;
  font-family: 华文楷体;
  font-size: 16px;
}
.type {
  text-align: center;
}
.type h3 {
  font-family: 方正舒体;
}
.type h4 {
  font-family: 华文楷体;
}
.zxp-tbody {
  width: 85%;
  text-align: center;
  margin-top: 30px;
}
.zxp-tbody div {
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}
.zxp-tbody img {
  width: 200px;
  height: 200px;
}
.zxp-tbody div:hover {
  box-shadow: 0 0 15px #bca2bc;
}
#womanBody {
  text-align: center;
  margin-top: 30px;
}
#womanBody .zxp-img {
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}
#womanBody img {
  width: 200px;
  height: 200px;
}
#womanBody .zxp-img:hover {
  box-shadow: 0 0 15px #bca2bc;
}
#top {
  text-align: right;
  display: block;
}
#content2 {
  display: none;
}
/*@media (max-width: 1090px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  !* since 3.1.0 *!
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
}
.navbar-fixed-top .navbar-collapse {
  max-height: none;
}

.navbar {
  min-height: 58px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: bold;
  background: #141c28;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;

  #logo{
    width: 125px;
    height: 58px;
  }
}
.navbar-default .navbar-nav>.active>a{
  background: #141c28;
}
.navbar-nav>li>a{
  height: 58px;
  padding-top: 21px;
  margin-left: 50px;
}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>.active>a{
  color: #e4e4e4;
}
.login{
  margin-left: 1px;
}
.shop{
  width: 40px;
}
.navbar-toggle{
  margin-top: 12px;
  background: #141c28;
  color: #999999;
}*/
#womanBody {
  text-align: center;
  margin-top: 30px;
}
#womanBody .zxp-img {
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}
#womanBody img {
  width: 200px;
  height: 200px;
}
#womanBody .zxp-img:hover {
  box-shadow: 0 0 15px #bca2bc;
}
#boot {
  width: auto;
  height: 100px;
  margin-top: 16%;
  margin-left: 20%;
  color: white;
}
.butn {
  text-align: center;
  margin-top: 25px;
}
.butn .btn {
  text-align: center;
  padding: 10px 36px;
  background: white;
  color: #333333;
}
#aa {
  width: 100px;
  height: 30px;
  text-align: center;
  background: #1a0003;
  color: white;
  line-height: 30px;
  border: 1.5px solid black;
  border-radius: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
}
#aa:hover {
  cursor: pointer;
}
#box {
  width: 350px;
  height: 450px;
  border: 1px solid #cccbc8;
  background: white;
  position: fixed;
  left: 5px;
  bottom: 5px;
  display: none;
  box-shadow: 0 0 15px #0cbc1d;
}
#box ul {
  width: 345px;
  height: 380px;
}
#box ul p {
  text-indent: 2em;
}
#box #one {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
}
#box #one input {
  width: 296px;
  height: auto;
  border-radius: 5px;
}
#box #one button {
  width: 50px;
  height: auto;
  border-radius: 3px;
  background: #eaeaea;
  border: 1px solid #6d6d6d;
  margin-left: 2px;
}
/*# sourceMappingURL=zxp-woman.css.map */